<html>
<head>
    <link rel="stylesheet" href="./styles.css">
    <script src="https://kit.fontawesome.com/a30afdad7d.js"></script>
</head>

    <body>

        <div class="container">
            <div id="joystick-container">
                <div id="top">
                    <a href="/buttons/joystick-up-left/characters">
                        <div id="upleft-joystick" class="arrow">&#8598;</div>
                    </a>
                    <a href="/buttons/joystick-up/characters">
                        <div id="up-joystick" class="arrow">&#8593;</div>
                    </a>
                    <a href="/buttons/joystick-up-right/characters">
                        <div id="upright-joystick" class="arrow">&#8598</div>
                    </a>
                </div>
                <div id="center">
                    <a href="/buttons/joystick-left/characters">
                        <div id="left-joystick" class="arrow">&#8592</div>
                    </a>
                        <div id="joystick"></div>
                    <a href="/buttons/joystick-right/characters">
                        <div id="right-joystick" class="arrow">&#8594</div>
                    </a>
                </div>
                <div id="bottom">
                    <a href="/buttons/joystick-down-left/characters">
                        <div id="downleft-joystick" class="arrow">&#8600</div>
                    </a>
                    <a href="/buttons/joystick-down/characters">                    
                        <div id="down-joystick" class="arrow">&#8595</div>
                    </a>
                    <a href="/buttons/joystick-down-right/characters">
                        <div id="downright-joystick" class="arrow">&#8600</div>
                    </a>
                </div>
            </div>

            <div class="btn-container">
                <div class="button-label">
                    <div id="one-btn" class="btn">
                        <h3>Jab</h3>
                        <a href="/buttons/1/characters">
                            <div class="red-btn top-btns"></div>
                        </a>
                    </div>
                    <div id="two-btn" class="btn">
                        <h3>Strong</h3>
                        <a href="/buttons/2/characters">
                            <div class="white-btn top-btns"></div>
                        </a>
                    </div>
                    <div id="three-btn" class="btn">
                        <h3>Fierce</h3>
                        <a href="/buttons/3/characters">
                            <div class="blue-btn top-btns"></div>
                        </a>
                    </div>
                </div>

                <div class="button-label">
                    <div id="four-btn" class="btn">
                        <h3>Short</h3>
                        <a href="/buttons/4/characters">
                            <div class="red-btn bottom-btns"></div>
                        </a>
                    </div>
                    <div id="five-btn" class="btn">
                        <h3>Forward</h3>
                        <a href="/buttons/5/characters">
                            <div class="white-btn bottom-btns"></div>
                        </a>
                    </div>
                    <div id="six-btn" class="btn">
                        <h3>Roundhouse</h3>
                        <a href="/buttons/6/characters">
                            <div class="blue-btn bottom-btns"></div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>

    
    </body>

</html>