<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

    <body>

        <div class="container">
            
            <div id="joystick-container">
                <div id="top">
                    <div id="NW-Arrow" class="arrow">&#8598;</div>
                    <div id="UP-Arrow" class="arrow">&#8593;</div>
                    <div id="NE-Arrow" class="arrow">&#8598</div>
                </div>
                <div id="center">
                    <div id="L-Arrow" class="arrow">&#8592</div>
                    <div id="joystick"></div>
                    <div id="R-Arrow" class="arrow">&#8594</div>
                </div>
                <div id="bottom">
                    <div id="SW-Arrow" class="arrow">&#8600</div>
                    <div id="BOT-Arrow" class="arrow">&#8595</div>
                    <div id="SE-Arrow" class="arrow">&#8600</div>
                </div>
            </div>

            <div class="btn-container">
            <div class="button-label">
                    <div class="btn">
                        <h3>Jab</h3>
                        <div class="red-btn top-btns"></div>
                    </div>
                    <div class="btn">
                        <h3>Strong</h3>
                        <div class="white-btn top-btns"></div>
                    </div>
                    <div class="btn">
                        <h3>Fierce</h3>
                        <div class="blue-btn top-btns"></div>
                    </div>
                </div>

                <div class="button-label">
                    <div class="btn">
                        <h3>Short</h3>
                        <div class="red-btn bottom-btns"></div>
                    </div>
                    <div class="btn">
                        <h3>Forward</h3>
                        <div class="white-btn bottom-btns"></div>
                    </div>
                    <div class="btn">
                        <h3>Roundhouse</h3>
                        <div class="blue-btn bottom-btns"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>

    
    </body>

</html>