<html>
<head>
    <link rel="stylesheet" href="/styles.css">
</head>

    <body>

    
        
        <div id="character-container">
            <div class="character">
                

                    <img src="/images/Blanka.gif">

            </div>

            <div class="character">
                
                <form action="/characters" method="POST">
                    <button>
                    <img src="./images/Chun-Li.gif">
                    <input type="hidden" value="Chun-Li" name="charName">
                    Chun-li</button>
                </form>
            </div>

            <div class="character">
                
                <form action="/characters" method="POST">
                    <button>
                    <img src="./images/Dhalism.gif">
                    <input type="hidden" value="Dhalism" name="charName">
                    Dhalism</button>
                </form>
            </div>

            <div class="character">
               
                <form action="/characters" method="POST">
                <button>
                 <img src="./images/EHonda.gif">
                    <input type="hidden" value="E. Honda" name="charName">
                    E. Honda</button>
                </form>
            </div>

            <div class="character">
                
                <form action="/characters" method="POST">
                <button>
                <img src="./images/Guile.gif">
                    <input type="hidden" value="Guile" name="charName">
                    Guile</button>
                </form>
            </div>

            <div class="character">
                
                <form action="/characters" method="POST">
                    <button>
                    <img src="./images/Ken.gif">
                    <input type="hidden" value="Ken Masters" name="charName">
                    Ken</button>
                </form>
            </div>

            <div class="character">
                
                <form action="/characters" method="POST">
                    <button>
                    <img src="./images/ryu.gif">
                    <input type="hidden" value="Ryu" name="charName">
                    Ryu</button>
                </form>
            </div>

            <div class="character">
                <form action="/characters" method="POST">
                <input type="hidden" value="Zangief" name="charName">
                <button>
                <img src="./images/Zangief.gif">
                    Zangief</button>
                </form>
            </div>
            
    </div>

        <div class="selection">
            <button>Submit</button>
        </div>
        </form>
    
    </body>

</html>