<html>
<head>
    <link rel="stylesheet" href="./styles.css">
</head>

    <body>

        <div class="container">
        <form action="/character_selection" method="POST">
            {{#character}}
            <div class="character">
                <img src="{{imageURL}}">
                <h3>{{name}}</h3>
            </div>
            {{/character}}
        </div>
        <div class="selection">
            <button>Submit</button>
        </div>
        </form>
    
    </body>

</html>