<html>
<head>
    <link rel="stylesheet" href="./styles.css">
</head>

    <body>

    
        <form action="/character_selection" method="POST">
        <div id="character-container">
            <div class="character">
                <img src="./images/Blanka.gif">
                <h3>Blanka</h3>
            </div>

            <div class="character">
                <img src="./images/Chun-Li.gif">
                <h3>Chun-Li</h3>
            </div>

            <div class="character">
                <img src="./images/Dhalism.gif">
                <h3>Dhalism</h3>
            </div>

            <div class="character">
                <img src="./images/EHonda.gif">
                <h3>E. Honda</h3>
            </div>

            <div class="character">
                <img src="./images/Guile.gif">
                <h3>Guile</h3>
            </div>

            <div class="character">
                <img src="./images/Ken.gif">
                <h3>Ken</h3>
            </div>

            <div class="character">
                <img src="./images/ryu.gif">
                <h3>Ryu</h3>
            </div>

            <div class="character">
                <img src="./images/Zangief.gif">
                <h3>Zangief</h3>
            </div>
            
    </div>

        <div class="selection">
            <button>Submit</button>
        </div>
        </form>
    
    </body>

</html>